@import "../../scss/variables";

.categories {
  user-select: none;
  margin-bottom: 20px;

  .list {
    display: flex;

    .item {
      cursor: pointer;
      padding: 10px;
      border-radius: 10px;
    }
    .item.active {
      background-color: $red;
      color: $white;
    }
  }
}
