@import "../../scss/variables";

.root {
  text-align: center;

  .emoji {
    display: block;
    font-size: 80px;
    margin-bottom: 20px;
  }
  .title {
    display: block;
    margin-bottom: 5px;
  }
  .text {
    font-size: 20px;
    opacity: 0.7;
    display: block;
    margin-bottom: 25px;
  }
  .link {
    display: inline-block;
    align-items: center;
    border: 1px solid $red;
    border-radius: 10px;
    color: $red;
    padding: 5px 10px;

    &:hover {
      background-color: $red;
      color: $white;
    }
  }
}
