@import "../../scss/variables";

.header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
  margin-bottom: 30px;

  @media screen and (max-width: 710px) {
    flex-direction: column;
  }

  .info {
    display: flex;

    @media screen and (max-width: 710px) {
      justify-content: space-between;
      margin-bottom: 40px;
    }
    @media screen and (max-width: 470px) {
      flex-direction: column;
      text-align: center;
    }

    .logo {
      display: flex;
      vertical-align: middle;
      margin-right: 20px;
      margin-top: auto;
      margin-bottom: auto;

      @media screen and (max-width: 470px) {
        justify-content: center;
        margin-right: 0;
        margin-bottom: 10px;
      }

      svg {
        display: flex;
        vertical-align: middle;
      }
    }
    .text {
      .title {
        font-weight: 800;
        text-transform: uppercase;
      }
      .description {
        color: $yellowDark;
        font-weight: 600;
        text-transform: lowercase;
        font-size: 15px;
      }
    }
  }

  .user {
    display: flex;
    align-items: center;
    padding: 15px;
    gap: 15px;
    background-color: $red;
    color: $white;
    border-radius: 10px;
    max-height: 35px;

    @media screen and (max-width: 710px) {
      justify-content: center;
      max-height: none;
      margin: 0 auto;
    }

    &:hover {
      background-color: $redDark;
    }

    .cost {
    }
    .items {
      display: flex;
      gap: 8px;

      .cart {
        svg {
          path {
            stroke: $white;
          }
        }
      }
      .number {
      }
    }
  }
}
