@import "../../scss/variables";

.root {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .info {
    display: flex;
    align-items: center;
  }
  .number {
    display: flex;
  }
  .delete {
    cursor: pointer;
  }
}
