@import "../../scss/variables";

.root {
  position: relative;

  .search {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 8px;
    left: 10px;
    opacity: 0.5;
  }
  input {
    width: 350px;
    border: 1px solid $red;
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 10px 30px 10px 50px;
    background-color: $white;

    @media screen and (max-width: 470px) {
      width: 300px;
    }
    @media screen and (max-width: 370px) {
      max-width: 250px;
    }

    &:hover,
    &:focus {
      outline: none;
      border-color: $redDark;
    }
  }
  .clear {
    cursor: pointer;
    position: absolute;
    right: 12px;
    top: 12.5px;
    opacity: 0.5;

    &:hover,
    &:focus {
      opacity: 1;
    }

    svg {
      width: 15px;
      height: 15px;
      transform: rotate(45deg);

      path {
        fill: $red;
      }
    }
  }
}
