@import "./variables";

div,
ul,
li,
svg,
img,
button,
a {
  // outline: 1px solid lightblue;
}

body {
  background-color: $yellow;
}

.App {
  padding-top: 40px;
}

.layoutMain {
  min-height: 70vh;
  max-width: 1080px;
  margin: 0 auto;
  background-color: $white;
  border-radius: 10px;
  padding: 40px 30px 20px;
}

.layout1 {
  display: flex;
  justify-content: space-between;
}
.layout2 {
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 40px 30px;
  justify-content: space-between;
  margin-top: 30px;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
  font-weight: 500;
}

li {
  list-style: none;
}

button,
a {
  cursor: pointer;
  background-color: transparent;
  border: none;
}

a {
  color: inherit;
  text-decoration: none;
}
