@import "../../scss/variables";

.sort {
  display: flex;
  gap: 10px;
  user-select: none;
  padding-top: 10px;

  @media screen and (max-width: 1020px) {
    justify-content: center;
  }

  @media screen and (max-width: 370px) {
    flex-direction: column;
    align-items: center;
    gap: 0;
    font-size: 20px;
  }

  .indicator {
    svg {
      path {
        fill: $red;
      }
    }
  }
  .text {
  }
  .options {
    span {
      cursor: pointer;
      color: $red;
      border-bottom: 1px dotted $red;
      position: relative;
      margin-left: 10px;

      @media screen and (max-width: 370px) {
        margin-left: 0;
      }
    }
    .list {
      cursor: pointer;
      display: flex;
      flex-direction: column;
      gap: 10px;
      position: absolute;
      background-color: $white;
      border: 1px solid $red;

      @media screen and (max-width: 370px) {
        margin: 20px 10px 0;
        left: 0;
        right: 0;
      }

      .item {
        padding: 5px 10px;

        @media screen and (max-width: 370px) {
          text-align: center;
        }

        &:hover {
          background-color: $red;
        }
      }
      .item.active {
        color: $red;

        &:hover {
          color: $white;
        }
      }
    }
  }
}
